<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1><center>Code Conversion Breakdown</center></h1>
    <!-- Container to center content -->
    <div  style="text-align: center;">
        
        <textarea id="cont" rows="50" cols="100"><%= info %></textarea>
        
        <!-- Your form with the button -->
        <form action="/">
            <button class="fadedbutton">Home</button>
        </form>
    </div>
</body>
</html>
